/* Global Styles */

body {
    background-color: #414A4C;
    background-image: url(../img/drake_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 768px) {
    body {
        /*margin-top: 50px;*/
    }
}

nav.navbar {
    border-radius: 0px;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/* App styles */

.header {
    font-size: 18px;
    margin-bottom: 10px;
}

.github img{
    height: 40px;
    top: 6px;
    right: 5px;
    position: relative;
}

.alert-message {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 300px;
    z-index: 100;
}

.graph {
    height: 225px;
}

.stats-row th, .stats-row td {
    text-align: center;
}

.stats-row {
    margin-bottom: 10px;
}

.graph-row .panel-body {
    height: 270px;
    overflow: auto;
}

.panel-body .row {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.img-responsive {
    margin: 0 auto;
}

.panel-default > .panel-heading .badge-active {
    background-color: #3a87ad;
}

.panel-default > .panel-heading .badge-active:hover {
    background-color: #3ba3c9;
}

.panel-default > .panel-heading .badge-inactive {
    background-color: #ccc;
    color: #000;
}

.panel-default > .panel-heading .badge-inactive:hover {
    background-color: #9f9f9f;
}

.panel-title {
    display: inline-block;
    font-size: 20px;
}

.loading-list {
    position: absolute;
    padding: 10px;
    top: 61px;
    right: 20px;
    width: 250px;
    height: 140px;
    overflow: auto;
}

.loading-list .error {
    color: #9A3E3E;
}

.link {
    position: absolute;
    right: 30px;
    bottom: 40px;
}