<!DOCTYPE html>
<html lang="en" ng-app="eveintel">
<head>
    <meta charset="utf-8">
    <title>EVE Intel</title>

    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendor/morris/css/morris.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/css/app.css" rel="stylesheet">

    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular/angular-route.js"></script>
    <script src="assets/vendor/angular/angular-animate.js"></script>
    <script src="assets/vendor/angular/angular-bootstrap.js"></script>
    <script src="assets/js/app.js"></script>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">EVE Intel</a>
        </div>
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">
            <div ng-controller="RecentActivity">
                <div class="alert alert-danger alert-message" ng-show="error">{{error}}</div>

                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="jumbotron" style="margin-top:10px;">
                            <h1>EVE Intel</h1>

                            <p>Quickly get information about an enemy pilot. See who he tends to fight, who his friends are,
                                and what he tends to fly.</p>
                            <input type="text" class="form-control" ng-model="pilot" ng-enter="getSinglePilot()" placeholder="Look up pilot"
                                   style="width:300px;display:inline-block;"/>
                            <span class="btn btn-primary" style="top: -1px;position: relative;">Search</span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="recentActivity &&  !recentActivity.killCount">
                    <div class="col-lg-12 text-center">
                        Pilot has no kill information
                    </div>
                </div>

                <div class="row" ng-show="recentActivity.killCount">
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Victim Alliances</h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-right">
                                    <a href="#" ng-click="tableKilledAlliances = !tableKilledAlliances">Switch View <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                                <graph-doughnut data="killedAlliances" ng-show="!tableKilledAlliances"></graph-doughnut>
                                <table class="table table-striped" ng-show="tableKilledAlliances">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Count</th>
                                        <th>Percentage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="alliance in recentActivity.killedAlliances">
                                        <td>{{alliance.value.name}}</td>
                                        <td>{{alliance.count}}</td>
                                        <td>{{alliance.weight * 100}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Friend Alliances</h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-right">
                                    <a href="#" ng-click="tableAssistedAlliances = !tableAssistedAlliances">Switch View <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                                <graph-doughnut data="assistedAlliances" ng-show="!tableAssistedAlliances"></graph-doughnut>
                                <table class="table table-striped" ng-show="tableAssistedAlliances">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Count</th>
                                        <th>Percentage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="alliance in recentActivity.assistedAlliances">
                                        <td>{{alliance.value.name}}</td>
                                        <td>{{alliance.count}}</td>
                                        <td>{{alliance.weight * 100}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Victim Ships</h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-right">
                                    <a href="#" ng-click="tableKilledShips = !tableKilledShips">Switch View <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                                <graph-doughnut data="killedShips" ng-show="!tableKilledShips"></graph-doughnut>
                                <table class="table table-striped" ng-show="tableKilledShips">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Count</th>
                                        <th>Percentage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="alliance in recentActivity.killedShips">
                                        <td>{{alliance.value.name}}</td>
                                        <td>{{alliance.count}}</td>
                                        <td>{{alliance.weight * 100}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Flown Ships</h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-right">
                                    <a href="#" ng-click="tableUsedShips = !tableUsedShips">Switch View <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                                <graph-doughnut data="usedShips" ng-show="!tableUsedShips"></graph-doughnut>
                                <table class="table table-striped" ng-show="tableUsedShips">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Count</th>
                                        <th>Percentage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="alliance in recentActivity.usedShips">
                                        <td>{{alliance.value.name}}</td>
                                        <td>{{alliance.count}}</td>
                                        <td>{{alliance.weight * 100}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/vendor/morris/js/morris.js"></script>
<script src="assets/vendor/morris/js/raphael.min.js"></script>
</body>
</html>