<div ng-controller="PilotStats">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <div class="jumbotron" style="padding: 30px;">
        <div class="row">
          <div class="link" ng-show="link"><a href="{{link}}">Current Search</a></div>

          <div class="col-lg-12 text-center header">
            <span>View kill history for pilots</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <textarea class="form-control" ng-model="pilotName" placeholder="Pilots (one per line)" rows="4"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center" style="margin-top:15px;">
            <span class="btn btn-primary" ng-click="search()" ng-disabled="loading">
                Search <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="alert alert-info alert-dismissible loading-list" role="alert" ng-show="loading || loadingErrorsFound">
    <progressbar class="progress-striped active" animate="false" value="(loadRequest.current/loadRequest.total)*100">
      <span style="color:white; white-space:nowrap;">{{loadRequest.current}} / {{loadRequest.total}}</span>
    </progressbar>
    <div ng-repeat="name in loadRequest.pilotNames" ng-show="!loadRequest.pilotsLoaded[name].loaded">
      {{name}}:
      <i ng-show="loadRequest.pilotsLoaded[name] == undefined" class="fa fa-spinner fa-spin"></i>
      <i ng-show="loadRequest.pilotsLoaded[name].loaded == false" class="fa fa-exclamation-circle error"
         tooltip-placement="right" tooltip="{{loadRequest.pilotsLoaded[name].message}}" tooltip-append-to-body="true"></i>
    </div>
  </div>

  <div class="row" ng-show="error">
    <div class="col-lg-offset-4 col-lg-4 text-center">
      <div class="alert alert-danger">{{error}}</div>
    </div>
  </div>

  <div ng-show="statList && !error">
    <div class="row" ng-repeat="pilotStats in statList">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            &nbsp;
            <div class="pull-left">
              <h3 class="panel-title">{{pilotStats.pilot.name}}</h3>
              <small>{{pilotStats.pilot.corporation.alliance.name}}</small>
            </div>
            <div class="pull-right">
              <span class="badge"
                    ng-click="pilotStats.detail = pilotStats.killCount && !pilotStats.detail"
                    ng-class="{'badge-active':pilotStats.detail, 'badge-inactive':!pilotStats.detail}">
                  <i class="fa fa-line-chart"></i>
              </span>
            </div>
          </div>
          <div class="panel-body">
            <div class="row stats-row">
              <div class="col-lg-1 text-center">
                <img class="img-responsive img-rounded"
                     src="https://image.eveonline.com/Character/{{pilotStats.pilot.id}}_128.jpg">
              </div>
              <div class="col-lg-11">
                <table class="table" ng-show="pilotStats.killCount">
                  <thead>
                  <tr>
                    <th>Kills in Past Month</th>
                    <th>Average Fleet Size</th>
                    <th>Most Flown Ship</th>
                    <th>Most Killed Ship</th>
                    <th>Most Killed Alliance</th>
                    <th>Most Assisted Alliance</th>
                    <th>Most Common Region</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{pilotStats.killCount}}</td>
                    <td>{{pilotStats.averageFleetSize}}</td>
                    <td>{{pilotStats.tendencyUsedShip.name}}</td>
                    <td>{{pilotStats.tendencyKilledShip.name}}</td>
                    <td>{{pilotStats.tendencyKilledAlliance.name}}</td>
                    <td>{{pilotStats.tendencyAssistedAlliance.name}}</td>
                    <td>{{pilotStats.tendencyRegion.name}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="alert alert-warning" ng-show="!pilotStats.killCount">Pilot has no killboard data for the
                  past month
                </div>
              </div>
            </div>
            <div ng-show="pilotStats.detail" class="row graph-row">
              <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Killed Alliances</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-right">
                      <a href="javascript:void(0)" ng-click="tableKilledAlliances = !tableKilledAlliances">
                        <span ng-show="!tableKilledAlliances">List View</span>
                        <span ng-show="tableKilledAlliances">Graph View</span>
                        <i class="fa fa-arrow-circle-right"></i>
                      </a>
                    </div>
                    <graph-doughnut data="pilotStats.killedAlliancesGraph" trigger="pilotStats.detail"
                                    ng-show="!tableKilledAlliances"></graph-doughnut>
                    <table class="table table-striped" ng-show="tableKilledAlliances">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Percentage</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="alliance in pilotStats.killedAlliances">
                        <td>{{alliance.value.name}}</td>
                        <td>{{alliance.count}}</td>
                        <td>{{alliance.weight * 100 | number : 2}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Assisted Alliances</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-right">
                      <a href="javascript:void(0)" ng-click="tableAssistedAlliances = !tableAssistedAlliances">
                        <span ng-show="!tableAssistedAlliances">List View</span>
                        <span ng-show="tableAssistedAlliances">Graph View</span>
                        <i class="fa fa-arrow-circle-right"></i>
                      </a>
                    </div>
                    <graph-doughnut data="pilotStats.assistedAlliancesGraph" trigger="pilotStats.detail"
                                    ng-show="!tableAssistedAlliances"></graph-doughnut>
                    <table class="table table-striped" ng-show="tableAssistedAlliances">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Percentage</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="alliance in pilotStats.assistedAlliances">
                        <td>{{alliance.value.name}}</td>
                        <td>{{alliance.count}}</td>
                        <td>{{alliance.weight * 100 | number : 2}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Killed Ships</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-right">
                      <a href="javascript:void(0)" ng-click="tableKilledShips = !tableKilledShips">
                        <span ng-show="!tableKilledShips">List View</span>
                        <span ng-show="tableKilledShips">Graph View</span>
                        <i class="fa fa-arrow-circle-right"></i>
                      </a>
                    </div>
                    <graph-doughnut data="pilotStats.killedShipsGraph" trigger="pilotStats.detail"
                                    ng-show="!tableKilledShips"></graph-doughnut>
                    <table class="table table-striped" ng-show="tableKilledShips">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Percentage</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="alliance in pilotStats.killedShips">
                        <td>{{alliance.value.name}}</td>
                        <td>{{alliance.count}}</td>
                        <td>{{alliance.weight * 100 | number : 2}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Flown Ships</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-right">
                      <a href="javascript:void(0)" ng-click="tableUsedShips = !tableUsedShips">
                        <span ng-show="!tableUsedShips">List View</span>
                        <span ng-show="tableUsedShips">Graph View</span>
                        <i class="fa fa-arrow-circle-right"></i>
                      </a>
                    </div>
                    <graph-doughnut data="pilotStats.usedShipsGraph" trigger="pilotStats.detail"
                                    ng-show="!tableUsedShips"></graph-doughnut>
                    <table class="table table-striped" ng-show="tableUsedShips">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Percentage</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="alliance in pilotStats.usedShips">
                        <td>{{alliance.value.name}}</td>
                        <td>{{alliance.count}}</td>
                        <td>{{alliance.weight * 100 | number : 2}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="pilotStats.detail" class="row graph-row">
              <div class="col-lg-6 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Kills Per Day</h3>
                  </div>
                  <div class="panel-body">
                    <graph-line data="pilotStats.killsPerDayGraph" trigger="pilotStats.detail"></graph-line>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Kills by Hour of Day</h3>
                  </div>
                  <div class="panel-body">
                    <graph-bar data="pilotStats.killsPerHourGraph" trigger="pilotStats.detail"></graph-bar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
